<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин выпечки</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="description" content="Лучшая выпечка в городе">
</head>
<body>
    <header>
        <img class="logo" src="img/icon.svg" alt="Изображение логотипа">
    </header>
    <nav class="sticky-nav">
    <ul>
        <li> <a href="#">О НАС</a> </li>
        <li> <a href="#">КОРЗИНА</a> </li>
        <li> <a href="#">АССОРТИМЕНТ</a> </li>
        <li> <a href="#">КОНТАКТЫ</a> </li>
        <li> <a href="#">ПРОФИЛЬ</a> </li>
    </ul>

    </nav>
    <main>
        <section class="section-about">
            <div class="section-about__block">
                <div class="section-about__block__border">
                    <h1 class="section-about__title">Специальный заказ</h1>
                    <p class="section-about__t">svo</p>
                </div>
            </div>
        </section>
        <section class="section-description">
            <div class="section-description__icon-box">
                <img src="img/01-Иконка.svg" alt="Первая иконка">
                <img src="img/02-Иконка.svg" alt="Вторая иконка">
                <img src="img/03-Иконка.svg" alt="Третья иконка">
            </div>
        </section>
        <section>
        </section>
    </main>
    <footer>
        <nav></nav>
    </footer>


</body>
</html>